body {
    background-color: #fffbf7;
}
main {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #fffbf7;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
}
header {
    width: auto;
    height: 200px;
    background-color:hsl(25, 17%, 52%)
}
.logo {
    float: left;
    margin-top: 50px;
    margin-left: 100px;
}
.topnav {
    width: fit-content;
    height: 60px;
    float: left;
    background-color: #664229;
    margin-top: 135px;
    margin-left: 30px;
    margin-left: 100px;
}
.topnav a {
    float: left;
    padding: 20px;
    display: block;
    color: #fffbf7;
    text-decoration: none;
    text-align: center;
    font-size: large;
}
.topnav a:hover {
    color: #664229;
    background-color: #fffbf7;
}
.topnav a.active {
    color: #fffbf7;
    background-color: #664229;
}